<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.travels.wallo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".activity.SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ShopActivity" />
        <activity android:name=".activity.legalitas.LegalitasActivity" />
        <activity android:name=".activity.profil.ProfilTokoActivity" />
        <activity android:name=".activity.profil.KurirTokoActivity" />
        <activity android:name=".activity.profil.ImageTokoActivity" />
        <activity android:name=".activity.toko.AturTokoActivity" />
        <activity android:name=".activity.toko.MenuActivity" />
        <activity android:name=".activity.toko.produk.ListProdukActivity" />
        <activity android:name=".activity.toko.produk.ProdukActivity" />
        <activity android:name=".activity.toko.produk.VariantActivity" />
        <activity android:name=".activity.toko.produk.GroceryActivity" />
    </application>

</manifest>